<form action="" [formGroup]="productForm" (ngSubmit)="save()">
    <label for="name">Nombre </label>
    <br>
    <input [ngClass]="{error: productForm.get('name').invalid}" formControlName= "name" type="text" name="name">
    <p *ngIf="productForm.get('name').hasError('required') && productForm.get('name').dirty"> Este campo es obligatorio</p>
    <p *ngIf="productForm.get('name').hasError('minlength') && productForm.get('name').dirty"> Minimo 3 chars</p>
    <br>
    <label for="sku">SKU </label>
    <br>
    <input formControlName= "sku" type="text" name="sku">
    <p *ngIf="productForm.get('sku').hasError('required') && productForm.get('sku').dirty"> Este campo es obligatorio</p>
    <br>
    <label for="price">Precio </label>
    <br>
    <input formControlName= "price" type="number" name="price">
    <p *ngIf="productForm.get('price').hasError('required') && productForm.get('price').dirty"> Este campo es obligatorio</p>
    <br>
    <label for="categoria">Categoria </label>
    <br>
    <input formControlName= "categoria" type="text" name="categoria">
    <p *ngIf="productForm.get('categoria').hasError('required') && productForm.get('categoria').dirty"> Este campo es obligatorio</p>
    <br>
    <label for="destacado">Destacado </label>
    <br>
    <input formControlName= "destacado" type="number" name="destacado">
    <p *ngIf="productForm.get('destacado').hasError('required') && productForm.get('destacado').dirty"> Este campo es obligatorio</p>
    <br>
    <input type="submit" value="GUARDAR" [disabled]="productForm.invalid">
</form>