<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Catalogo de productos</h1>
    <% contactos.forEach(function(contacto){ %>
        <p><%=contacto.nombre%></p>
    <% }) %>
  </body>
</html>
